[infection]
start-on-boot = false
# After starting, hide the tray icon.
hide-systray = false

# When hibernate is enabled, Neogoon will not immediately begin executing
# payloads when Start is clicked. Instead, it will wait for a random amount
# of time (within a defined range), execute payloads for a set amount of time,
# and then go back to hibernating.
[hibernate]
enabled = false
# In seconds, the minimum amount of time Neogoon will sit idley before doing
# anything.
minimum-wait = 1
# Same story, but the maximum time.
maximum-wait = 120
# How long (again, in seconds) Neogoon will execute payloads for while out of
# hibernation.
activity-time = 120

# Annoyances are the core of Neogoon - they define the audiovisual (and more)
# effects it will have on your computer.
[annoyances]
enabled = true
# Every tick, Neogoon will select a payload to execute based on the % chance of
# running they've been given. So a payload with a 100% occurrence chance will
# execute once per second when rate is 1, once every two seconds
# when it is 2, and so on.
# Annoyances can stack. If two annoyances have a 100% chance to occur, they will
# both occur every tick.
rate = 2

# Popups are immovable windows that appear in random locations on your screen.
# They can be configured to only be closed manually, or to close after a given
# amount of time.
[annoyances.popups]
chance = 100
# Popup transparency. 100 is opaque, 1 is almost transparent.
opacity = 100
# % chance an image will be in "denial mode". An image selected to be in this
# mode will appear blurred and captioned.
denial-chance = 0
# When timeout is non-zero, popups will automatically close after a fixed period
# of time.
timeout = 3
# When set to true, a button will appear over popups that will close them.
# If no timeout is set and allow-manual-closing is false, there will be no
# way to close popups but to manually kill Neogoon.
allow-manual-closing = false
# Mitosis is a feature that opens a given number of new popups whenever one
# is closed.
[annoyances.popups.mitosis]
# The number of new popups to spawn whenever one is closed.
strength = 0
# Whether or not popups closed by timing out should trigger mitosis.
triggered-by-timeout = false

# Prompts are immovable windows that will appear in random locations on your screen.
# A random quote will be given, and the quote must be written into the text box below
# the quote for the prompt to close.
[annoyances.prompts]
chance = 0
# The maximum number of mistakes there can be from the original quote. Neogoon calculates
# this based on the two text's Levenshtein distance - basically, a character occurring where
# its not supposed to, or no character occurring where it's supposed to, penalises one point.
# A character in the wrong place penalises two.
max-mistakes = 2

# Audio annoyances play a random audio track.
[annoyances.audio]
# If a track is already playing when another audio annoyance is chosen, it is ignored and the
# previous audio track continues.
chance = 0
# Audio tracks over this length (in seconds) will be stopped early.
max-playtime = 15
volume = 25

# Auto-type will type out supplied phrases at random.
[annoyances.auto-type]
chance = 0
# Whether auto-type should additionally automatically press enter after typing a phrase.
press-enter = true

# Overwrite clipboard will randomly overwrite your clipboard with supplied phrases.
[annoyances.overwrite-clipboard]
chance = 0

# Open websites randomly opens web pages.
[annoyances.open-websites]
chance = 0

# Drive filler fills your disk with images from a specified source.
[drive-filler]
enabled = false
# The amount of time (in milliseconds) between each image save. This is a separate clock from
# annoyances'.
rate = 300
# The path for drive-filler to fill. Neogoon will not try to save images in any directory
# above this one - but it will select random subdirectories to save to.
# A couple of substitutions are allowed here - the character ~ will be replaced with your home
# directory, so ~/Desktop points to your desktop, even on Windows.
root = '~'
# When images are saved, they will be saved with a randomly chosen string from this list,
# plus some random numbers.
# Loaded sets can override this.
filenames = ['NEOGOON']

# The downloader can be used to save images from specified boorus matching specified tags.
[drive-filler.downloader]
# Supported boorus are: e621
booru = 'e621'
# The tags to search the booru for. Whenever an image is grabbed to be saved, a random string
# in this list will be chosen - that is, each string in this list can contain multiple tags,
# each string will be searched for separately.
# This can be empty; Neogoon will then accept any image.
tags = [
    'feral+paw_focus',
    'feral+presenting_hindquarters'
]
# The minimum post score to consider
minimum-score = 50

# Wallpaper randomly changes your wallpaper.
[wallpaper]
enabled = false
# The amount of time (in milliseconds) between times your wallpaper is changed.
rate = 1000
# The crop mode to use when setting the wallpaper.
# The possible options are:
#   fit: resize while maintaining aspect ratio, leaving black bars if the image ratio doesn't fit.
#   crop: rezize until no black bars remain while maintaining aspect ratio.
#   stretch: resize without maintaining aspect ratio.
#   span: the same as stretch, but stretched to cross all monitors.
#   tile: don't resize the image, repeat it until it fills the display.
#   center: don't resize the image, place it in the centre of the display leaving black bars.
mode = 'stretch'
# Prefer to set images as the wallpaper if they roughly match a 16:9 aspect ratio.
# If none are found, random images will be used as if this were false.
# If only one image is found, that'll be the only wallpaper.
prefer-fitting-ratio = true